<% layout("layout/boilerplate")%>
    <div class="container">
        <div class="row">
            <h1 class="text-center">New To Do</h1>
        </div>
        <div class="col-6 offset-3">
            <form action="/home" method="post">
                <div class="mb-3 text-center">
                    <label for="toDo">
                        <h3>To Do</h3>
                    </label>
                    <input type="text" class="form-control form-control-lg" id="toDo" placeholder="To do..."
                        name="toDo">
                </div>
                <div class="d-flex justify-content-center">
                    <div class="d-inline px-2">
                        <button class="btn btn-success">Add To Do</button>
                    </div>
                    <div class="d-inline px-2">
                        <a href="/home" class="btn btn-info">Home</a>
                    </div>
                </div>
            </form>
        </div>
    </div>